<div class="uk-container uk-container-small">

  <article class="uk-article">

    <p class="uk-article-meta">Currículo Lates</p>

    <div class="cur-header">
      <div class="uk-grid">
        <div class="uk-width-auto">
          <img class="img-profile" src="assets/images/profile.jpg" alt="">
        </div>
        <div class="uk-width-expand">
          <h1 class="uk-article-title cur-title">
              {{profileBasic.nome}}
            </h1>
            <p class="uk-text-lead">{{profileBasic.profissao}}</p>
        </div>
      </div>
    </div>

    <div class="cur-section">

      <div class="uk-grid">
        <div class="uk-width-expand">
            <p class="uk-dropcap profile-description" [innerHTML]="profileBasic.sobre">
            </p>
          </div>
          <div class="uk-width-auto">
            <div uk-card class="uk-card-default uk-card-body">
              <h3><span uk-icon="user"></span> Contato</h3>
              <ul class="uk-list">
                <li><span uk-icon="phone"></span> {{profileContato.telefone}}</li>
                <li><span uk-icon="mail"></span> {{profileContato.email}}</li>
                <li><span uk-icon="github"></span> {{profileContato.github}}</li>
                <li><span uk-icon="location"></span> {{ profileEndereco.cidade+"/"+profileEndereco.uf }}</li>
                <li>
                  <a *ngIf="profileContato.facebook" uk-icon="facebook" [href]="profileContato.facebook" target="_blank"></a> {{profileContato.facebook.replace("https://www.facebook.com","")}}
                </li>
                <li>
                  <a *ngIf="profileContato.instagram" uk-icon="instagram" [href]="profileContato.instagram" target="_blank"></a>
                </li>
              </ul>
            </div>
          </div>
      </div>

    </div>


    <div class="cur-section cur-section-skills">
        <h3 class="cur-section-title">
          <span uk-icon="code"></span>
          Skills
        </h3>
        <div class="uk-grid uk-child-width-1-6 cur-section-skills-body">
          <div *ngFor="let l of profileSkills.list">
              <a class="uk-text-link" class="uk-label">{{ l.titulo }}</a>
          </div>
        </div>
    </div>



  
    <div class="cur-section cur-section-xp">
      
      <h3 class="cur-section-title">
        <span uk-icon="server"></span>
        Experiência
      </h3>

      <div *ngFor="let xp of profileXp.jobs">
        <div class="uk-card uk-card-xp">
          <h3 class="uk-card-title">{{ xp.cargo }} <a class="title-empresa">{{ xp.empresa }}</a></h3>
          <p class="xp-date">
            De {{ xp.inicio }} | 
            {{ xp.fim?"Até "+xp.fim:"Atual" }} - {{ xp.local }}
          </p>
          <p>{{xp.descricao}}</p>
        </div>
      </div>
    </div>




    <div class="cur-section cur-section-projetos">
      
      <h3 class="cur-section-title">
        <span uk-icon="album"></span>
        Projetos
      </h3>

      <div *ngFor="let p of projetos">
        <div class="uk-card uk-card-xp">
          <h3 class="uk-card-title">{{ p.empresa }}</h3>
          <p><a [href]="p.url" target="_blank">{{p.url}}</a></p>
          <p>{{p.descricao}}</p>
        </div>
      </div>
    </div>




    <div class="cur-section-academico">
      <h3 class="cur-section-title">
        <span uk-icon="bookmark"></span>
        Acadêmico
      </h3>

      <div class="uk-grid uk-child-width-1-1">
        <div>
          <div *ngFor="let acad of profileAcademico.timeline"
              class="uk-card uk-card-body uk-card-default">
            <h3 class="uk-card-title">{{ acad.curso }}</h3>
            <h4><span class="uk-label">{{ acad.tipo }}</span> {{ acad.instituicao }}</h4>
            
            <p>De {{ acad.inicio }} {{ acad.fim?"até "+acad.fim:', ainda cursando' }}
              - {{ acad.local }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <p class="uk-text-small">Este currículo está disponível em <a href="{{profileBasic.urlcurriculo}}">{{ profileBasic.urlcurriculo }}</a></p>

  </article>


</div>